<div class="employee-container">
  <header class="d-flex flex-wrap justify-content-between">
    <h1 class="text-white">Manage Employees</h1>

    <section class="button-wrapper">
      <button
        class="btn btn-danger delete-selected"
        data-bs-toggle="modal"
        data-bs-target="#deleteModal"
      >
        <i class="fa-solid fa-circle-minus"></i> Delete Selected
      </button>

      <button
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#addEmployeeModal"
      >
        <i class="fa-solid fa-circle-plus"></i> Add New Employee
      </button>
    </section>
  </header>

  <section class="d-flex justify-content-center p-4" *ngIf="loading">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </section>
  <div className="table-responsive">
    <div className="table-wrapper">
      <table class="employee-table" *ngIf="!loading">
        <thead>
          <tr>
            <th>
              <input
                class="form-check-input"
                type="checkbox"
                [(ngModel)]="isAllSelected"
                (change)="!isAllSelected ? selectAll() : deselectAll()"
              />
            </th>
            <th (click)="sort('empName')">Name</th>
            <th (click)="sort('empEmail')">Email</th>
            <th (click)="sort('empPhone')">Phone</th>
            <th (click)="sort('empAddress')">Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let employee of employees.slice(
                currentPage * 10,
                (currentPage + 1) * 10
              )
            "
            [class.selected]="employee.selected"
          >
            <td>
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="employee.selected"
              />
            </td>
            <td class="text-capitalize">{{ employee.empName }}</td>
            <td>{{ employee.empEmail }}</td>
            <td>{{ employee.empPhone }}</td>
            <td>{{ employee.empAddress }}</td>
            <td>
              <button
                data-bs-toggle="modal"
                data-bs-target="#editEmployeeModal"
                (click)="selectedEmployeeToEdit = employee"
              >
                <i class="fa-solid fa-pen text-warning"></i>
              </button>
              <button
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                (click)="selectedEmployeeToDelete = employee"
              >
                <i class="fa-solid fa-trash text-danger"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <mat-paginator
    *ngIf="!loading && employees.length > 10"
    [length]="employees.length"
    [pageSize]="pageSize"
    (page)="currentPage = $event.pageIndex"
  >
  </mat-paginator>

  <app-add-employee-modal
    (getEmployees)="getEmployees()"
  ></app-add-employee-modal>
  <!-- Here, selectedEmployee is the variable in your child component that will store the value emitted from the event. -->
  <app-edit-employee-modal
    (getEmployees)="getEmployees()"
    [selectedEmployee]="selectedEmployeeToEdit"
  ></app-edit-employee-modal>
</div>

<div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Employee</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete
          {{ selectedEmployeeToDelete?.empName ?? "these records" }}.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          id="closeDeleteModal"
          (click)="selectedEmployeeToDelete = null"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="
            selectedEmployeeToDelete
              ? deleteEmployee(selectedEmployeeToDelete.empId)
              : deleteSelected()
          "
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
