@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./assets/styles/forms.scss";

input,
select,
textarea,
button,
datalist {
  border: none;
  background: none;
}

html,
body {
  height: 100%;
}
body {
  // overflow-x: hidden;

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 6px;
  }
}
